.permissions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.checkboxes {
  width: 50%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
}

.checkboxeshead {
  width: 25%;
  text-align: center;
}
